@use '../../../styles/variables.scss' as *;

.bage {
  display: flex;
  align-items: center;
  border: 1px solid $borderBage;
  border-radius: 4px;
  background-color: $bgBage;
  &__text {
    padding: 2px 8px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__button {
    margin: 2px 8px 0 0;
    width: 16px;
    height: 16px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
  }
  &__button-no {
    display: none;
  }
}

@media (max-width: 767px) {
  .bage {
    max-width: 158px;
  }
}