@use '../../styles/variables.scss' as *;

.dialog {
  position: fixed;
  z-index: 13;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  overflow-y: auto;
  &__open {
    opacity: 1;
    visibility: visible;
  }
  &__info {
    max-height: 95%;
    overflow-y: auto; 
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    &-cross {
      display: none;
    }
    &__header {
      padding: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-text {
        margin: 0;
        font-size: 20px;
        font-family: 'Montserrat';
        font-weight: 400;
      }
    }
    &__buttons {
      display: flex;
      gap: 4px;
    }
    &__main {
      padding: 0 16px;
      &-head {
        margin: 0 0 16px 0;
        font-size: 24px;
        font-family: 'Montserrat';
        font-weight: 600;
      }
    }
  }
}

.mobile {
  display: none;
}

@media (max-width: 900px) {
  .dialog {
    &__info {
      width: 95%;
      height: 90%;
    }
  }
}

@media (max-width: 767px) {
  .dialog {
    &__info {
      margin: 0;
      width: 100%;
      min-height: 100%;
      &__buttons {
        display: none;
      }
      &-cross {
        padding: 8px;
        display: flex;
        border: 1px solid $BorderDefault;
        border-radius: 4px;
        background: none;
        cursor: pointer;
      }
      &-cross:hover {
        border: 1px solid $borderHover;
      }
      &__header {
        &-text {
          font-size: 14px;
          text-transform: uppercase;
          color: #5C6470;
        }
      }
    }
  }
  .mobile {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}