$mainTextColor: #2E3238;
$BorderDefault: #D5D8DD;
$bgInput: #FCFCFD;
$borderHover: #ABB1BA;
$bgButton: #FFFFFF;
$iconColor: #2E3238;
$borderBage: #99D5FF;
$bgBage: #E5F4FF;
$iconDisable: #ABB1BA;
$colorTextMask: #ABB1BA;
$textAccent: #B21F00;
$iconAccent: #005999;
$bgButtonPrimary: #0078CF;