@use '../../styles/variables.scss' as *;

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $BorderDefault;
  &__logo {
    padding: 16px 0 15px 16px;
  }
  &__panel {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 16px 8px 0;
    &__info {
      display: flex;
      align-items: center;
      gap: 8px;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      &-img {
        border-radius: 100%;
      }
    }
    &__settings {
      width: 32px;
      height: 32px;
      border: 1px solid $BorderDefault;
      border-radius: 4px;
      &-img {
        width: 20px;
        height: 20px;
        padding: 6px;
      }
    }
  }
}